.qrcode__wrap {
  width: 300px;
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  padding: 50px;
}

.qrcode__wrap h2 {
  font-size: 24px;
}

.qrcode__wrap p {
  padding-top: 10px;
}

.qrcode__qrcode {
  padding-top: 20px;
}